*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    line-height: 1.7;
}
a{
    color: #333;
    text-decoration: none;
}
h1, h2, h3{
    padding-bottom: 20px;
}
p {
    margin: 10px 0;
}
/* Start Utility Classes */
.container{
    margin: auto;
    max-width: 1200px ;
    overflow: auto;
    padding: 0 20px;
}
.parasize{
    font-size: 22px;
}
.btn {
    display: inline-block;
    font-size: 18px;
    color: #425e31;
    background: #538234;
    padding: 14px 15px;
    border: none;
    cursor: pointer;
}
.btn:hover{
    background:#5c883e;
}

/* End Utility Classes */
#navibar{
    background: #345221;
    color: #fff ;
}
#navibar ul {
    list-style: none;
    float: right;
    padding-right: 103px;
}
#navibar ul li {
    float: left;
}
#navibar ul li a {
    color: #fff;
    display: block;
    padding: 15px 17px;
}
#navibar ul li a:hover {
    color:#66904a;
    background: #425e31;
}
#navibar ul li a.current {
        color:#538234;
}

#showcase .showcase-content{
    color: #000;
    text-align: center;
    padding-top: 120px;
    font-size: 22px;
}
#showcase .showcase-content h1{
    font-size: 50px;
    line-height: 1.2em;
    color: #538234;
}
#showcase .showcase-content p{
    padding-bottom: 15px;
}
.main-footer{
    background: #425e31;
    color: #fff;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100vw;
}
#signOutBtn{
    color: #fff;
    display: block;
    padding: 15px 17px;
    color:#538234;
}
#sign{
    list-style: none;
}
